@import "tailwindcss";


@theme {
  /* Custom dark color palette */
  --dark-background-primary: #121417;
  --dark-primary-button: ##3d99f5;
  --color-cta-start: #33bc82;
  --color-cta-end: #00a05c;
  --dark-text-primary: #ffffff;
  --dark-text-secondary: ##9cabba;
  --color-text-tertiary: #5e5e5e;
  --color-text-inverse: #ffffff;
  --color-footer-copyright: #1e2833;
  --color-contact-accent: #00a05c;
  
  /* CTA gradient helper */
  --gradient-cta: linear-gradient(135deg, var(--color-cta-start), var(--color-cta-end));


  --light-background-primary: ##ffffff;
  --light-text-primary: ##121417;
  --light-text-secondary: ##61758a;
  --light-background-secondary: ##f0f2f5;
  




}