@import "tailwindcss";


@theme {
  /* Custom dark color palette */
  --color-background-primary: #121417;
  --color-primary-button: #003c90;
  --color-cta-start: #33bc82;
  --color-cta-end: #00a05c;
  --color-text-primary: #000000;
  --color-text-secondary: #3a3a3a;
  --color-text-tertiary: #5e5e5e;
  --color-text-inverse: #ffffff;
  --color-footer-copyright: #1e2833;
  --color-contact-accent: #00a05c;
  
  /* CTA gradient helper */
  --gradient-cta: linear-gradient(135deg, var(--color-cta-start), var(--color-cta-end));
}